html, body {
    min-height: 100vh; /* 100% de la hauteur de la fenêtre */
  }


:root{
    --black:#222831;
    --grey:#393E46;
    --blue:#00ADB5;
    --white:#EEEEEE;
}

h2{
    font-size: 35px;
    text-transform: capitalize;
}


main{
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vh;
}

main p{
    font-size: 15px;
}

.div-reseaux{
    width: 100%;
    gap: 2vh;
    padding-bottom: 2vh;
}

.div-reseaux li{
    list-style-type: none;
}

.div-reseaux a{
    text-decoration: none;
    display:contents;
}


main img{
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 15px;
}


.div-reseaux>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    border: 1px solid black;
    padding: 0.5vh;
    border-radius: 15px;
}

.div-reseaux>div:first-of-type{
    margin-top: 2vh;
}

.div-reseaux>div a{
    color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
}
h3,h4{
    font-size: 20px;
}

figure{
    position: relative;
}

figure img{
    width: 60px;
    height: 60px;
}

figcaption{

    font-size: 15px;

}

.mail{
    height: 13vh;
    width: 13vh;
    min-height: 92px;
    min-width: 92px;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
}




.shareButton{
    width: 32px;
    height: 32px;
    border-radius: 0px;
}





.curseur{
    width: 25px;
    height: 25px;
    left: 65%;
    top: 5px;
    margin-top: 2.5vh;
}