html, body {
    min-height: 100vh; /* 100% de la hauteur de la fenêtre */
  }

  body{
    background-color: var(--black);
  }


:root{
    --black:#222831;
    --grey:#393E46;
    --blue:#00ADB5;
    --white:#EEEEEE;
}

h2{
    font-size: 25px;
    text-transform: capitalize;
    color: var(--white);
    text-align: center;
    margin-bottom: 2vh;
}


main{
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10vw;
    padding-right:10vw ;
    /* padding-top: 2vh; */
    background-color: var(--black);
}

main p{
    font-size: 15px;
    color: var(--white);
    text-align: center;
}

.div-reseaux{
    width: 100%;
    gap: 2vh;
}

.div-reseaux li{
    list-style-type: none;
}

.div-reseaux a{
    text-decoration: none;
    display:contents;
}


main img{
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 8px;
}


.div-reseaux>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    height: max-content;
    border: 1px solid black;
    padding: 0.5vh;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0px 0px 5px var(--blue);
    border: 2px solid var(--blue);
}

.div-reseaux>div:first-of-type{
    margin-top: 2vh;
}

.div-reseaux>div a{
    color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--black);
}
h3,h4{
    font-size: 20px;
}

h3{
    color: var(--white);
    text-align: center;
}

#discord{
    padding-left: 0%;
}

#discord:hover{
    color: var(--blue)
}
h4{
    padding-left: 25px;
    color: var(--blue);
}

h4:hover{
    color: var(--black);
}

figure{
    position: relative;
}

figure img{
    width: 60px;
    height: 60px;
}

figcaption{
    font-size: 15px;
    color: var(--blue);
}


.mail{
    min-height: 92px;
    min-width: 92px;
    border-radius: 8px;
    margin-top: 2vh;
    margin-bottom: 4vh;
    background-color: var(--white);
    box-shadow: 0px 0px 5px var(--blue);
    border: 2px solid var(--blue);
}


.mail:hover{
    box-shadow: 0px 0px 5px var(--white);
    border: 2px solid var(--grey);
}

.deux-p{
    gap: 30px;
}

.mail a{
    text-decoration: none;
    color: var(--black);
    padding: 1vh;
}



.shareButton{
    width: 32px;
    height: 32px;
    border-radius: 0px;
    transition: 0.2s ease-in-out;
}



.shareButton:hover{
    transform: scale(1.05);
}




.curseur{
    width: 25px;
    height: 25px;
    left: 65%;
    top: 5px;
    margin-top: 2.5vh;
}

footer{
    margin-top: 5vh;
}

main{
    /* margin-top: 100px; */
}

#last_p{
    margin-top: 5vh;
}

form{
    margin-top: 75px;
    justify-content: center;
    height:calc(100vh - 100px);
    gap: 20px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

form input{
    width: 100%;
    padding-left: 5px;
    max-width: 450px;
}

#nom:hover,#email:hover,#message:hover{
    box-shadow: 0px 0px 8px var(--white);
    border: 2px solid var(--grey);
}

#nom,#email{
    height: 40px;
    border-radius: 8px;
    border: 3px solid var(--blue);
    box-shadow: 0px 0px 5px var(--blue);
            /* transition: 0.1s ease-in-out; */


}

#message{
    min-height: 50vh;
    width: 100%;
    padding: 5px;
    border: 3px solid var(--blue);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--blue);
    resize: vertical;
    max-width: 450px;
            /* transition: 0.1s ease-in-out; */

}



form button{
    height: 40px;
    width: 170px;
    background-color: var(--blue);
    border: 2px solid var(--grey);
    border-radius: 8px;
    box-shadow: 0px 0px 2px var(--white);
    color: var(--white);
        /* transition: 0.1s ease-in-out; */
}

form button:hover{
box-shadow: 0px 0px 8px var(--white);}

@media (min-width: 1000px) {
.div-responsive{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

main{
    margin-top: 14vh;
}
}



