:root{
    --black:#222831;
    --grey:#393E46;
    --blue:#00ADB5;
    --white:#EEEEEE;
}

body{
    background-color: var(--black);
    color: var(--white);
}

.mentions-container {
    max-width: 900px;
    margin-top:100px!important;
    margin: auto;
    padding: 2rem;
    padding-top: 0px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.mentions-section {
    margin-bottom: 2.5rem;
}

.mentions-section a{
    color: var(--blue);
}

.mentions-section h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: underline solid var(--blue);
}

.icon-credits {
    padding-left: 1.2rem;
    list-style-type: disc;
}

.icon-credits li a{
    text-decoration: underline var(--blue);
    color: var(--blue);
}

.ia-section {
    background-color: var(--grey);
    padding: 1rem;
    border-left: 4px solid var(--blue);
    border-radius: 6px;
}
