@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

/* 🎨 Variables globales */
:root {
    --black: #222831;
    --grey: #393E46;
    --blue: #00ADB5;
    --white: #EEEEEE;
    --largeur-image-carousel: 80%;
}



h2 {
    text-align: center;
    color: var(--black);
    padding: 5vh;
}



/* 📜 Description des langages */
.fond-description-languages {
    width: 90vw;
    margin: auto;
    background-color: var(--grey);
    border-radius: 25px;
}

.description-languages {
    width: 90vw;
    padding: 15vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
}

.description-languages li {
    list-style-type: circle;
    color: var(--blue);
}

.description-languages p {
    font-size: 25px;
    color: var(--white);
}

/* 📌 Footer */
footer {
    margin-top: 5vh;
}
