@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

/* 🎨 Variables globales */
:root {
    --black: #222831;
    --grey: #393E46;
    --blue: #00ADB5;
    --white: #EEEEEE;
    --largeur-image-carousel: 80%;
}

/* 📝 Titres */
h1{
    /* text-align: center; */
    padding-left: 2.5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: var(--white);
    background-color: var(--grey);
    font-size: 30px;
}

h2 {
    text-align: center;
    color: var(--black);
    padding: 5vh;
}


/* 🎯 Icônes */
.fi-rr-angle-left,
.fi-rr-angle-right {
    font-size: 30px;
}

/* 🎠 Boutons de carrousel */
.carousel button,
.carousel2 button {
    border: none;
    background: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: transform 0.2s ease-in-out;
}

.carousel button:hover,
.carousel2 button:hover {
    transform: scale(1.2) translateY(-45%);
}

/* ◀️ Boutons précédent/suivant */
.prev, .prev2 {
    left: -13vw;
}

.next, .next2 {
    right: -13vw;
}

/* 🎠 Carrousels */
.carousel, .carousel2 {
    position: relative;
    width: 40vw;
    height: 40vw;
    margin: 3vh 8vh;
}

.carousel ul, .carousel2 ul {
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carousel ul li, .carousel2 ul li {
    width: 100%;
    height: 100%;
}

.carousel ul li img,
.carousel2 ul li img {
    position: absolute;
    width: var(--largeur-image-carousel);
    height: var(--largeur-image-carousel);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 🎞️ Animation des slides */
.slide, .slide2 {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease-in-out, visibility 0.8s;
}

.slide-active, .slide2-active {
    opacity: 1;
    visibility: visible;
}

/* 🎨 Conteneur du carrousel */
.carousel-fond {
    width: fit-content;
    height: fit-content;
    margin: 5vh auto;
    background-color: var(--blue);
    border-radius: 25px;
    box-shadow: 0px 0px 5px var(--black);
}

/* 📜 Description des langages */
.fond-description-languages {
    width: 90vw;
    margin: auto;
    background-color: var(--grey);
    border-radius: 25px;
}

.description-languages {
    width: 90vw;
    padding: 15vw;
    padding-top: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
}

.description-languages li {
    list-style-type: circle;
    color: var(--blue);
}

.description-languages p {
    font-size: 20px;
    color: var(--white);
}

/* 📌 Footer */
footer {
    margin-top: 5vh;
}
