:root{
    --black:#222831;
    --grey:#393E46;
    --blue:#00ADB5;
    --white:#EEEEEE;
}

h2{
    font-size: 20px;
}
body{
    background-color: var(--black);
}
.main-frise{
    position: relative;
    width: 80vw;
    margin:auto;
    gap: 5vh;
    align-items: flex-end;
    margin-bottom: 7vh;
    margin-top: calc(100px + 5vh);
    /* max-width: ; */
}

.trait-milieu{
    position: absolute;
    height: 100%;
    width: 3px;
    /* content: ""; */
    background-color: var(--blue);
    top: 0%;
    left: 9%;   
    /* left: 40px; */
}

.point-frise{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    bottom: calc(50% - 15px) ;
    left: calc(-30vw + 11.5%);
    /* left: -93.5px; */
    background-color: var(--white);
}

.div-frise{
    position: relative;
    background-color: var(--grey);
    color: white;
    height: auto;
    width: 50vw;
    /* max-width: 200px; */
    padding: 1vh;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 5px var(--white);
      /* border: 1px solid var(--white); */

}


/* la div du paragraphe */
.parcours-div-p{
    width: 100%;
    padding: 3vh;
    color: var(--white);
    background-color: var(--black);
    /* font-size: 18px; */
    padding-top: 2vh;
    padding-bottom: 5vh;
    /* text-align: center; */
}







.parcours-informatique {
  display: block;
  font-family: Arial, sans-serif;
  background-color: var(--grey);
  padding: 1.5em;
  border-radius: 8px;
  line-height: 1.7;
  max-width: 800px;
  margin: auto;
  color: var(--white);
  border: 1px solid var(--white);
  box-shadow: 0px 0px 5px var(--white);
}

.parcours-informatique strong {
  color: var(--white);
}

.parcours-informatique em {
  font-style: normal;
  font-weight: bold;
  color: var(--white);
  display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

