:root{
    --black:#222831;
    --grey:#393E46;
    --blue:#00ADB5;
    --white:#EEEEEE;
}

h2{
    font-size: 25px;
}
body{
    background-color: var(--black);
}
.main-frise{
    position: relative;
    width: 80vw;
    margin:auto;
    gap: 7vh;
    align-items: flex-end;
    margin-bottom: 7vh;
    margin-top: calc(100px + 5vh);
}

.trait-milieu{
    position: absolute;
    height: 100%;
    width: 1vw;
    /* content: ""; */
    background-color: var(--blue);
    top: 0%;
    left: 9%;
}

.point-frise{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    bottom: calc(50% - 15px) ;
    left: calc(-30vw + 11.5%);
    background-color: var(--white);
}

.div-frise{
    position: relative;
    background-color: var(--grey);
    color: white;
    height: auto;
    width: 50vw;
    padding: 1vh;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 0px 5px var(--white);
}


/* la div du paragraphe */
.parcours-div-p{
    width: 100%;
    padding: 2vh;
    color: var(--white);
    background-color: var(--black);
    font-size: 20px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding: 15vw;
    text-align: center;
}

summary{
    margin-bottom: 5vh;
    list-style-type: none;
    color: white;
    background-color: var(--grey);
    margin-left: 10vw;
    margin-right: 10vw;

    padding: 3vw;
    border-radius: 15px;
}




