:root{
    --black:#222831;
    --grey:#393E46;
    --blue:#00ADB5;
    --white:#EEEEEE;
}

h2{
    font-size: 20px;
}
body{
    background-color: var(--black);
}
.main-frise{
    position: relative;
    width: fit-content;
    margin:auto;
    align-items: center;
    margin-bottom: 7vh;
    margin-top: calc(100px + 5vh);
}



.trait-milieu{
    position: absolute;
    height: 100%;
    width: 3px;
    content: "";
    background-color: var(--blue);
    left:-54px;
}
.point-frise{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    bottom: calc(50% - 15px) ;
    left: -60px;
    /* left: -93.5px; */
    background-color: var(--white);
    z-index: 1;
}

.div-frise{
    position: relative;
    background-color: var(--black);
    height: 150px;
    width: 200px;
    padding-bottom: 2.5vh;
    padding-top: 2.5vh;
    margin-left: 60px;
}

.div-frise .ph2{
    background-color: var(--grey);
    color: white;
    height: 120px;
    padding: 1vh;
    /* margin: ; */
    box-shadow: 0px 0px 5px var(--white);
    text-align: center;
    border-radius: 8px;
}


/* la div du paragraphe */
.parcours-div-p{
    width: 100%;
    padding: 3vh;
    color: var(--white);
    background-color: var(--black);
    /* font-size: 18px; */
    padding-top: 2vh;
    padding-bottom: 5vh;
    /* text-align: center; */
}







.parcours-informatique {
  display: block;
  font-family: Arial, sans-serif;
  background-color: var(--grey);
  padding: 1.5em;
  border-radius: 8px;
  line-height: 1.7;
  max-width: 500px;
  margin: auto;
  color: var(--white);
  border: 1px solid var(--white);
  box-shadow: 0px 0px 5px var(--white);
}

.parcours-informatique strong {
  color: var(--white);
}

.parcours-informatique em {
  font-style: normal;
  font-weight: bold;
  color: var(--white);
  display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
}


@media (min-width: 1000px) {
    .div_responsive{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 100px;
        margin-top: 100px;
        margin-bottom: 75px;
        /* width: 80vw; */
        margin-left: auto;
        margin-right:auto;
    }

    .main-frise{
        position: relative;
        width: fit-content;
        margin:initial;
        align-items: center;
        margin-bottom: 0px;
        margin-top:0px;
    }

    .parcours-informatique {
        margin: 0px;

    }

    .parcours-div-p{
        padding: 0vh;
        width: initial;
    }
}
