:root {
    --black: #222831;
    --grey: #393E46;
    --blue: #00ADB5;
    --white: #EEEEEE;
}

.div-h1 {
    justify-content: flex-start;
    position: relative;
    z-index: 149;
}

.div-h1 a {
    position: relative;
    z-index: 150;
}

.div-h1 i {
    font-size: 35px;
    color: var(--blue);
}

.div-h1 h1 {
    text-align: center;
    width: 150px;
    margin-left: calc((96vw - 220px)/2);
}

body {
    background-color: var(--black);
}

main {
    margin-top: 100px;
    padding: 3vh;
    padding-top: 0px;
    padding-bottom: 5vh;
    background-color: var(--black);
}

main h2 {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: var(--white);
}

main img {
    width: 30px;
}

main p {
    color: var(--white);
}

#firsth2 {
    padding-top: 0px;
}

main li {
    list-style-type: none;
}

main a {
    color: var(--white);
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border: 2px solid var(--blue);
    border-radius: 4px;
    background-color: var(--white);
    margin-right: 10px;
    position: relative;
}

input[type="checkbox"]:checked::after {
    content: '✔';
    color: var(--blue);
    position: absolute;
    left: 2px;
    top: -2px;
    font-size: 14px;
    font-weight: bold;
}

input[type="checkbox"]:disabled {
    cursor: not-allowed;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
}

h3 {
    color: white;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.div_mmm {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-bottom: 5vh;
}

.div_mmm > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    width: 50vw;
    margin: auto;
    gap: 30px;
    padding: 2vh;
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--white);
    max-width: 200px;
}

.div_mmm > div p {
    text-align: center;
}

.presentation_projet p {
    box-shadow: 0px 0px 5px var(--white);
    background-color: var(--grey);
    padding: 3vh;
    border-radius: 8px;
    text-align: center;
    max-width: 750px;
}

.p_esp {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.last_form {
    gap: 0px;
}

.esp_bas {
    margin-bottom: 3vh;
}

.esp_bas, .p_esp {
    text-decoration: underline;
}

.div_btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div_btn li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 200px;
}

.div_btn li:first-child,
.div_btn li:last-child {
    margin: auto;
    width: 60vw;
    padding: 10px;
    border-radius: 15px;
}

.div_btn li:first-child {
    background-color: var(--grey);
    border: 2px solid var(--blue);
}

.div_btn li:last-child {
    background-color: var(--blue);
    border: 2px solid var(--grey);
}

.div_btn a {
    text-decoration: none;
}

footer p {
    margin: 0px;
}

.div-img-du-projet {
    width: 90vw;
    margin: auto;
}

.img-du-projet {
    width: 100%;
    margin-bottom: 20px;
}

/* Responsive - 750px */
@media (min-width: 750px) {
    p {
        margin: auto;
    }

    .div_mmm {
        flex-direction: row;
        justify-content: center;
    }

    .div_mmm > div {
        margin: 0;
    }

    .div_btn {
        flex-direction: row;
        justify-content: center;
        margin-top: 5vh;
    }

    .div_btn li:first-child,
    .div_btn li:last-child {
        margin: 0;
    }

    #le_p_le_l {
        text-align: center;
        width: 700px;
        margin-bottom: 4vh;
    }

    main form {
        margin-left: 9vw;
    }

    .esp_bas,
    .p_esp {
        margin-left: 7vw;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    h3 {
        text-align: center;
    }

    .h3-margin-resp {
        margin-top: 9vh;
        margin-bottom: 9vh;
    }
}

/* Responsive - 1000px */
@media (min-width: 1000px) {
    main form {
        margin-left: 20vw;
    }

    #le_p_le_l {
        width: 700px;
    }

    .esp_bas,
    .p_esp {
        margin-left: 18vw;
    }
}

/* Responsive - 1300px */
@media (min-width: 1300px) {
    .div_mmm {
        flex-direction: row;
        justify-content: center;
    }

    .div_mmm > div {
        margin: 0;
    }

    .div_btn {
        flex-direction: row;
        justify-content: center;
        margin-top: 5vh;
    }

    .div_btn li:first-child,
    .div_btn li:last-child {
        margin: 0;
    }

    #le_p_le_l {
        width: 50vw;
    }

    main form {
        margin-left: 25vw;
    }

    .esp_bas,
    .p_esp {
        margin-left: 23vw;
    }
}

/* Responsive - 1500px */
@media (min-width: 1500px) {
    p {
        margin: auto;
    }

    .div_mmm {
        flex-direction: row;
        justify-content: center;
    }

    .div_mmm > div {
        margin: 0;
    }

    .div_btn {
        flex-direction: row;
        justify-content: center;
        margin-top: 5vh;
    }

    .div_btn li:first-child,
    .div_btn li:last-child {
        margin: 0;
    }

    #le_p_le_l {
        width: 40vw;
    }

    main form {
        margin-left: 30vw;
    }

    .esp_bas,
    .p_esp {
        margin-left: 28vw;
    }

    h3 {
        text-align: center;
    }

    .h3-margin-resp {
        margin-top: 9vh;
        margin-bottom: 9vh;
    }
}
