@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Love+Ya+Like+A+Sister&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    font-family:'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* propriété css pour aller plus vite (on les mets dans les class dans le hmtl directement) */

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}


.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.items-stretch {
    align-items: stretch; 
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* couleurs */

:root{
    --black:#222831;
    --grey:#393E46;
    --blue:#00ADB5;
    --white:#EEEEEE;
}

.bodyactive{
    overflow: hidden;
    height: 100%;
}

.btn-burger{
    /* z-index: ; */
    position: relative;
    height: 40px;
    width: 40px;
}


.liste-menu{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 20;
    top: 0px;
    left: 0px;
    transform: translateX(200vw);
    transition: transform 0.1s ease-in-out; 
    z-index: 21;
}

.liste-menu>ul{
    width: 80%;
    background-color: var(--grey);
    border-left: 2px solid var(--black);
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.liste-menu>div{
    width: 20%;
    background-color: var(--black);
    opacity: 0.8;    
}

.liste-menu img{
    position: absolute;
    height: 50px;
    top: 20px;
    right: 10px;
}




.active{
    transform: translateX(0vw);
}



.liste-menu li{
    list-style-type: none;
    text-align: center;
}

.liste-menu a{
    text-decoration: none;
    color: var(--white);
    font-size: 3.3vh;
}


#accueil .fond-burger{
    border: 0px solid var(--black);
    border-radius: 100%;
    background-color: var(--black);
}

#accueil .img-hamburger{
    height: 40px;
    z-index: 60;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


footer{
    background-color:var(--grey);
    padding: 3vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

footer li{
    list-style-type: none;
    color: white;
}

footer a,footer p{
    color: white;
}

footer ul:first-child{
    width: 45vw;
    border-right: 1px solid white;
}

footer ul:last-child{
    width: 45vw;
}

footer ul{
    padding: 5vw;
}


/* pour le bouton de contact */
.btn-contact-me{
    position:fixed;
    right: 7px;
    bottom: 3vh;
    z-index: 60;
}

.fond-contact a{
    text-decoration: none;
}


.fond-contact{
    margin: 7px;
    padding: 13px;
    border: 1px solid var(--black);
    border-radius: 100%;
    background-color: var(--blue);
    box-shadow: 0px 0px 5px var(--blue);
    list-style-type: none;
}

.img-contact{
    font-size: 35px;
}

.btn-contact-me:hover .img-contact{
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}

/* pour les pages avec un titre en haut */

.div-h1{
    width: 100%;
    background-color: var(--black);
    height: 100px;
    min-height: 100px;
    padding: 3vw;
    position: fixed;
    border-bottom: 1px solid var(--grey);
    top: 0%;
    z-index: 2;
    justify-content: space-between;
}

.div-h1 i{
    font-size: 40px;
    color: var(--blue);

}

.div-h1 h1{
    color: var(--white);
    font-size: 25px;
}

.div-h1 a{
    text-decoration: none;
}

footer p{
    font-size: 10px;
}

a,i{
    display:contents;
}
