@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Love+Ya+Like+A+Sister&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    font-family:'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* propriété css pour aller plus vite (on les mets dans les class dans le hmtl directement) */

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}


.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.items-stretch {
    align-items: stretch; 
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* couleurs */

:root{
    --black:#222831;
    --grey:#393E46;
    --blue:#00ADB5;
    --white:#EEEEEE;
}

.bodyactive{
    overflow: hidden;
    height: 100%;
}

.bodyactive2{
    overflow: hidden;
    height: 100%;
}




/* le menu déroulant */
.btn-burger{
    position:fixed;
    right: 7px;
    top: 3vh;
    z-index: 2;
}

.liste-menu{
    transform: translateY(150%);
    position: fixed;
    background-color: var(--grey);
    width: 94vw;
    margin-left: 3vw;
    height: 50vh;
    gap: 20px;
    bottom:3vw;
    border-radius: 15px;
    z-index: 2;
    transition: transform 0.3s ease-in-out; 
}



.active{
    transform: translateY(0%);
}




.liste-menu li{
    list-style-type: none;
}

.liste-menu a{
    text-decoration: none;
    color: var(--blue);
    font-size: 25px;
}

.active li{
    list-style-type: none;
}

.active a{
    text-decoration: none;
    color: var(--blue);
    font-size: 25px;
}

/* pour l'effet de flou  */
.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.7); 
    opacity: 1;
    pointer-events: none; 
    z-index: 1;
}

.overlay2 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.8); 
    opacity: 1;
    pointer-events: none; 
    z-index: 1;
}

#accueil .fond-burger{
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 100%;
    background-color: var(--blue);
    box-shadow: 0px 0px 5px black;
}

#accueil .img-hamburger{
    font-size: 35px;
}


footer{
    background-color: var(--black);
    padding: 3vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

footer li{
    list-style-type: none;
    color: white;
}

footer a,footer p{
    color: white;
}

footer ul:first-child{
    width: 45vw;
    border-right: 1px solid white;
}

footer ul:last-child{
    width: 45vw;
}

footer ul{
    padding: 5vw;
}


/* pour le bouton de contact */
.btn-contact-me{
    position:fixed;
    right: 7px;
    bottom: 7px;
    z-index: 2;
}

.fond-contact a{
    text-decoration: none;
}


.fond-contact{
    width:58px ;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 100%;
    background-color: var(--blue);
    box-shadow: 0px 0px 5px black;
    list-style-type: none;
}

.img-contact{
    font-size: 35px;
}

.btn-contact-me:hover .img-contact{
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}




