<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A&L</title>
    <link rel="stylesheet" href="../public/assets/style.css">
    <link rel="stylesheet" href="../public/assets/activiteetloisirs.css">
</head>
<body>
    <div class="flex-row items-center div-h1">
        <a  href="../index.html"><i class="fi fi-rr-home"></i></a>
        <h1>Home</h1>
        <div class="btn-burger">
            <button class="fond-burger flex-row items-center justify-center"><img class="img-hamburger" src="../image/menu-burger.png" alt="menu burger"></button>
        </div>
    </div>

    <div class="liste-menu flex-row">
            <div class="overlay close-by-clic">
            </div>
            <ul class="flex-column items-center justify-center">
                <li><a href="../index.html">Accueil</a></li>
                <li><a href="monparcours.html">Mon parcours</a></li>
                <li><a href="mecontacter.html">Me contacter</a></li>
                <li><a href="activiteetloisirs.html">Activité et loisirs</a></li>
                <img id="btn_fermeture" src="../image/fermer.png" alt="btn_fermeture">
            </ul>
        </div>

        <main>
            
        </main>



    

    <footer class="flex-row justify-center">
        <ul class="flex-column">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
        </ul>
        <ul>
            <li class="flex-row items-center"><p>Uicons by &nbsp;</p><a href="https://www.flaticon.com/uicons">Flaticon</a></li>
            <li><a href="mentionslegales.html">Mentions légales</a></li>
        </ul>
    </footer>
</body>
</html>