<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Activités & Loisirs</title>
  <link rel="stylesheet" href="../public/assets/style.css" />
  <link rel="stylesheet" href="../public/assets/activiteetloisirs.css" />
  <link rel="icon" href="../image/favicon.ico" type="image/x-icon" />
</head>
<body id="accueil">

  <div id="rond"></div>

<header>
    <div class="flex-row items-center div-h1">
            <a href="../index.html"><i class="fi fi-rr-home"></i></a>
            <h1>Activités et loisirs</h1>
            <div class="btn-burger">
                <button class="fond-burger flex-row items-center justify-center"><img class="img-hamburger" src="../image/menu-burger.png" alt="menu burger"></button>
            </div>
    </div>
    <div class="liste-menu flex-row">
        <div class="overlay close-by-clic">
        </div>
        <ul class="flex-column items-center justify-center">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="../index.html#projets">Mes projets</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
            <li><a class="active-link" href="activiteetloisirs.html">Activités et loisirs</a></li>
            <img id="btn_fermeture" src="../image/fermer.png" alt="btn_fermeture">
        </ul>
    </div>


    <div class="btn-contact-me">
        <li class="fond-contact flex-row items-center justify-center"><a href="mecontacter.html"><img class="img-contact" src="../image/img-contact.png" alt="me contacter"></a></li>
    </div>

    
</header>

<h1 id="h1">Mes activités et loisirs</h1>
<main class="container-loisirs">
  <section class="card-loisir">
    <img src="../image/sprint.png" alt="Sprint" class="img-loisir" />
    <h2>🏃 Athlétisme</h2>
    <p>
      Je pratique le sprint depuis 2022 en compétition. Mon épreuve principale est le 400m. Grâce à ce sport, j'ai développé la discipline, la détermination et la résilience face aux blessures. Je cours actuellement le 100m en 11"75.
    </p>
  </section>

  <section class="card-loisir">
    <img src="../image/enfant_parc.png" alt="Garde d'enfants" class="img-loisir" />
    <h2>👶 Animation & Garde d'enfants</h2>
    <p>
      Titulaire du BAFA, j’ai animé des groupes d’enfants de tous âges en centre de loisirs. Cette expérience m’a appris à organiser des activités, à travailler en équipe et à gérer les responsabilités d’un encadrement pédagogique.
    </p>
  </section>

  <section class="card-loisir">
    <img src="../image/img_dev_web_2.png" alt="Création web" class="img-loisir" />
    <h2>💻 Création web</h2>
    <p>
      Créer des sites web est une vraie passion. J’aime expérimenter, concevoir des interfaces et donner vie à des idées personnelles. C’est à la fois un loisir et une façon d’apprendre continuellement.
    </p>
  </section>

  
</main>

<footer class="flex-row justify-center">
  <ul class="flex-column">
    <li><a href="../index.html">Accueil</a></li>
    <li><a href="../index.html#projets">Mes projets</a></li>
    <li><a href="monparcours.html">Mon parcours</a></li>
    <li><a href="mecontacter.html">Me contacter</a></li>
    <li><a href="activiteetloisirs.html">Activités et loisirs</a></li>
  </ul>
  <ul>
    <li class="flex-row items-center">
      <p>Uicons by &nbsp;</p><a href="https://www.flaticon.com/uicons">Flaticon</a>
    </li>
    <li><a href="mentionslegales.html">Mentions légales</a></li>
  </ul>
</footer>

<script type="text/javascript" src="../public/assets/script.js"></script>
</body>
</html>
