<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon parcours</title>
    <link rel="stylesheet" href="../public/assets/style.css">
    <link rel="stylesheet" href="../public/assets/atos.css">
</head>
<body id="" class="">



    <div class="liste-menu flex-row">
        <div class="overlay close-by-clic">
        </div>
        <ul class="flex-column items-center justify-center">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
            <li><a href="activiteetloisirs.html">Activité et loisirs</a></li>
            <img id="btn_fermeture" src="../image/fermer.png" alt="btn_fermeture">
        </ul>
    </div>


    <div class="btn-contact-me">
        <li class="fond-contact flex-row items-center justify-center"><a href="mecontacter.html"><img class="img-contact" src="../image/img-contact.png" alt="me contacter"></a></li>
    </div>

    <div class="flex-row items-center div-h1">
            <a href="../index.html#goto"><i class="fi fi-br-cross"></i></a>
            <h1>Projet Atos</h1>
    </div>

    <main>

    <div class="presentation_projet">
        <h2 id="firsth2">Le projet</h2>
        <p>Lorem 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus enim dolor voluptate? Numquam aliquam explicabo repellat cupiditate facilis velit, ea doloremque, vitae nobis enim quo facere repellendus asperiores ipsam sed!ipsum dolor sit amet consectetur adipisicing elit. Eveniet, voluptatibus, nobis, quos nemo dolorem perspiciatis totam rerum non error laudantium odit. Saepe ratione recusandae aliquid facere libero vel soluta. Odit?</p>
    </div>

    <div>
        <h2>Les objectifs</h2>
        <form>
            <label><input type="checkbox" disabled>Analyser le site d'Atos et notter les informations importantes</label>
            <label><input type="checkbox" disabled>Adapter le texte pour la bonne tranche d'âge</label>
            <label><input type="checkbox" disabled>Conceptualiser le site</label>
            <label><input type="checkbox" disabled>Développer le site</label>
        </form>        
    </div>

    <h3>Les moyens mis en oeuvre pour remplir ces obectifs:</h3>

    <div class="div_mmm">
        <div>
            <img src="../image/employes.png" alt="image travail en équipe">
            <p>Travail en équipe de 3</p>
        </div>
        <div>
            <img src="../image/github_blanc.png" alt="logo discord">
            <p>Utilisation d'outils collaboratifs</p>
        </div>
        <div>
            <img src="../image/conceptualisation.png" alt="image conceptualisation">
            <p>Création de maquette</p>
        </div>
    </div>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint nemo voluptatem ab provident! Inventore animi quae recusandae omnis. Esse aspernatur aperiam sint aut est nobis repellendus sequi, exercitationem labore enim!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus commodi rerum iste eos officia deleniti officiis delectus deserunt repudiandae reiciendis ducimus, nesciunt labore, harum consequatur enim omnis cupiditate repellat soluta!</p>

    <h2>Et finalement?</h2>

    <div>
        <p class="esp_bas">Les objectifs principaux ont étés remplis:</p>
        <form>
            <label><input type="checkbox" disabled checked>Analyser le site d'Atos et notter les informations importantes</label>
            <label><input type="checkbox" disabled checked>Adapter le texte pour la bonne tranche d'âge</label>
            <label><input type="checkbox" disabled checked>Conceptualiser le site</label>
            <label><input type="checkbox" disabled checked>Développer le site</label>
        </form>     
        <p class="p_esp">En plus si on regarde en détails, on a réussis à:</p>   
        <form class="last_form">
            <label><input type="checkbox" disabled checked>Travailler en équipe</label><br>
            <label><input type="checkbox" disabled checked>Comprendre et utiliser de nouveaux outils (github, whimsical)</label>
        </form>    
    </div>

    <p class="p_esp">Si vous voulez en voir plus sur ce projet, n’hésitez à la télécharger ou à aller voir la page github du projet :</p>

    <div class="div_btn">
        <li><a href="https://drive.google.com/uc?export=download&id=1GEF8-4rmSUjZai_oQE_3JZCmwPx8AgRm">Télécharger</a></li>
        <li><a href="https://github.com/Paul-Cte/atos">Page Github</a></li>
    </div>

</main>
        
    







    <footer class="flex-row justify-center">
        <ul class="flex-column">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
            <li><a href="activiteetloisirs.html">Activité et loisirs</a></li>
        </ul>
        <ul>
            <li class="flex-row items-center"><p>Uicons by &nbsp;</p><a href="https://www.flaticon.com/uicons">Flaticon</a></li>
            <li><a href="mentionslegales.html">Mentions légales</a></li>
        </ul>
    </footer>
    
    <script type="text/javascript" src="../public/assets/script.js"></script>
</body>
</html>