<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon parcours</title>
    <link rel="stylesheet" href="../public/assets/style.css">
    <link rel="stylesheet" href="../public/assets/atos.css">
    <link rel="icon" href="../image/favicon.ico" type="image/x-icon">
</head>
<body id="" class="">
<header>
   <div class="flex-row items-center div-h1" id="clickableDiv"> 
            <a href="../index.html#goto"><i class="fi fi-br-cross"></i></a>
            <h1>Projet Atos</h1>
    </div>
    <div class="liste-menu flex-row">
        <div class="overlay close-by-clic">
        </div>
        <ul class="flex-column items-center justify-center">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
            <li><a href="activiteetloisirs.html">Activité et loisirs</a></li>
            <img id="btn_fermeture" src="../image/fermer.png" alt="btn_fermeture">
        </ul>
    </div>
</header>

    <div class="btn-contact-me">
        <li class="fond-contact flex-row items-center justify-center"><a href="mecontacter.html"><img class="img-contact" src="../image/img-contact.png" alt="me contacter"></a></li>
    </div>

 

    <main>

    <div class="presentation_projet">
        <h2 id="firsth2">PROJET ATOS</h2>
        <p>Ce projet consistait à refaire le site d'une ESN (ici Atos), pour qu'il soit adapté pour des collégiens qui chercheraient un stage de 3ème dans une telle entreprise, donc il fallait "vulgariser" certains textes et certaines explications de l'activité de l'entreprise Il fallait aussi que le site soit facile d'utilisation.</p>
    </div>

    <div>
        <h2>Les objectifs</h2>
        <form>
            <label><input type="checkbox" disabled>Analyser le site d'Atos et notter les informations importantes</label>
            <label><input type="checkbox" disabled>Adapter le texte pour la bonne tranche d'âge</label>
            <label><input type="checkbox" disabled>Conceptualiser le site</label>
            <label><input type="checkbox" disabled>Développer le site</label>
        </form>        
    </div>

    <h3 class="h3-margin-resp">Les moyens mis en oeuvre pour remplir ces obectifs:</h3>

    <div class="div_mmm">
        <div>
            <img src="../image/employes.png" alt="image travail en équipe">
            <p>Travail en équipe de 3</p>
        </div>
        <div>
            <img src="../image/github_blanc.png" alt="logo discord">
            <p>Utilisation d'outils collaboratifs</p>
        </div>
        <div>
            <img src="../image/conceptualisation.png" alt="image conceptualisation">
            <p>Création de maquette</p>
        </div>
    </div>

    <p id="le_p_le_l">Nous avons du réaliser le site en groupe de 3. Pour avoir une bonne cohésion sur ce que nous allions développer, il a fallu réaliser des maquettes du site avec whimsical. Pour rester en contact nous avons utiliser discord. Pour développer plus facilement en évitant les bugs causé par le travail de groupe, nous avons utilisé github.</p>

    <h2>Et finalement?</h2>

    <div>
        <p class="esp_bas">Les objectifs principaux ont étés remplis:</p>
        <form>
            <label><input type="checkbox" disabled checked>Analyser le site d'Atos et notter les informations importantes</label>
            <label><input type="checkbox" disabled checked>Adapter le texte pour la bonne tranche d'âge</label>
            <label><input type="checkbox" disabled checked>Conceptualiser le site</label>
            <label><input type="checkbox" disabled checked>Développer le site</label>
        </form>     
        <p class="p_esp">En plus si on regarde en détails, on a réussis à:</p>   
        <form class="last_form">
            <label><input type="checkbox" disabled checked>Travailler en équipe</label><br>
            <label><input type="checkbox" disabled checked>Comprendre et utiliser de nouveaux outils (github, whimsical)</label>
        </form>    
    </div>

    <p class="p_esp">Si vous voulez en voir plus sur ce projet, n’hésitez à la télécharger ou à aller voir la page github du projet :</p>

    <div class="div_btn">
        <li><a href="https://drive.google.com/uc?export=download&id=1GEF8-4rmSUjZai_oQE_3JZCmwPx8AgRm">Download</a></li>
        <li><a href="https://github.com/Paul-Cte/atos">Github Page</a></li>
    </div>

</main>
        
<div class="div-img-du-projet">
    <img class="img-du-projet" src="../image/atos.png" alt="img_projet1">
    <img class="img-du-projet" src="../image/atos2.png" alt="img_projet2">
    <img class="img-du-projet" src="../image/atos3.png" alt="img_projet3">
</div> 





    <footer class="flex-row justify-center">
        <ul class="flex-column">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
            <li><a href="activiteetloisirs.html">Activité et loisirs</a></li>
        </ul>
        <ul>
            <li class="flex-row items-center"><p>Uicons by &nbsp;</p><a href="https://www.flaticon.com/uicons">Flaticon</a></li>
            <li><a href="mentionslegales.html">Mentions légales</a></li>
        </ul>
    </footer>
    </body>
    <script type="text/javascript" src="../public/assets/script.js"></script>
</html>