<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atos Project</title>
    <link rel="stylesheet" href="../public/assets/style.css">
    <link rel="stylesheet" href="../public/assets/atos.css">
    <link rel="icon" href="../image/favicon.ico" type="image/x-icon">
</head>
<body id="" class="">  <div id="rond"></div>

<header>
   <div class="flex-row items-center div-h1" id="clickableDiv"> 
            <a href="../index.html#projets"><i class="fi fi-br-cross"></i></a>
            <h1>Atos Project</h1>
    </div>
    <div class="liste-menu flex-row">
        <div class="overlay close-by-clic"></div>
        <ul class="flex-column items-center justify-center">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../index.html#projets">My Projects</a></li>
            <li><a href="monparcours.html">My Background</a></li>
            <li><a href="mecontacter.html">Contact Me</a></li>
            <li><a href="activiteetloisirs.html">My Activities</a></li>
            <img id="btn_fermeture" src="../image/fermer.png" alt="close button">
        </ul>
    </div>
</header>

<div class="btn-contact-me">
    <li class="fond-contact flex-row items-center justify-center"><a href="mecontacter.html"><img class="img-contact" src="../image/img-contact.png" alt="contact me"></a></li>
</div>

<main>

<div class="presentation_projet">
    <h2 id="firsth2">ATOS PROJECT</h2>
    <p>This project consisted of redesigning the website of an IT service company (here Atos), so that it would be suitable for middle school students looking for a 9th grade internship in such a company. We had to simplify some texts and explanations about the company’s activity. The website also had to be easy to use.</p>
</div>

<div>
    <h2>Objectives</h2>
    <form>
        <label><input type="checkbox" disabled>Analyze Atos’ website and take note of important information</label>
        <label><input type="checkbox" disabled>Adapt the text to suit the target age group</label>
        <label><input type="checkbox" disabled>Design the website</label>
        <label><input type="checkbox" disabled>Develop the website</label>
    </form>        
</div>

<h3 class="h3-margin-resp">The means used to meet these objectives:</h3>

<div class="div_mmm">
    <div>
        <img src="../image/employes.png" alt="teamwork image">
        <p>Teamwork (group of 3)</p>
    </div>
    <div>
        <img src="../image/github_blanc.png" alt="github logo">
        <p>Use of collaborative tools</p>
    </div>
    <div>
        <img src="../image/conceptualisation.png" alt="mockup creation image">
        <p>Mockup creation</p>
    </div>
</div>

<p id="le_p_le_l">We had to build the site as a team of 3. To ensure we were aligned on development, we created mockups using Whimsical. To stay in touch, we used Discord. To code collaboratively without bugs from overlapping work, we used GitHub.</p>

<h2>And in the end?</h2>

<div>
    <p class="esp_bas">The main goals were achieved:</p>
    <form>
        <label><input type="checkbox" disabled checked>Analyze Atos’ website and take note of important information</label>
        <label><input type="checkbox" disabled checked>Adapt the text to suit the target age group</label>
        <label><input type="checkbox" disabled checked>Design the website</label>
        <label><input type="checkbox" disabled checked>Develop the website</label>
    </form>     
    <p class="p_esp">Additionally, in detail, we managed to:</p>   
    <form class="last_form">
        <label><input type="checkbox" disabled checked>Work effectively as a team</label><br>
        <label><input type="checkbox" disabled checked>Understand and use new tools (GitHub, Whimsical)</label>
    </form>    
</div>

<p class="p_esp">If you want to see more about this project, feel free to download it or check the project's GitHub page:</p>

<div class="div_btn">
    <li><a href="https://drive.google.com/uc?export=download&id=1GEF8-4rmSUjZai_oQE_3JZCmwPx8AgRm">Download</a></li>
    <li><a href="https://github.com/Paul-Cte/atos">GitHub Page</a></li>
</div>

</main>
        
<div class="div-img-du-projet">
    <img class="img-du-projet" src="../image/atos.png" alt="project image 1">
    <img class="img-du-projet" src="../image/atos2.png" alt="project image 2">
    <img class="img-du-projet" src="../image/atos3.png" alt="project image 3">
</div> 

<footer class="flex-row justify-center">
    <ul class="flex-column">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../index.html#projets">My Projects</a></li>
        <li><a href="monparcours.html">My Background</a></li>
        <li><a href="mecontacter.html">Contact Me</a></li>
        <li><a href="activiteetloisirs.html">My Activities</a></li>
    </ul>
    <ul>
        <li class="flex-row items-center"><p>Uicons by&nbsp;</p><a href="https://www.flaticon.com/uicons">Flaticon</a></li>
        <li><a href="mentionslegales.html">Legal Notice</a></li>
    </ul>
</footer>
</body>
<script type="text/javascript" src="../public/assets/script.js"></script>
<script type="text/javascript" src="../public/assets/cross.js"></script>

<script type="text/javascript" src="../public/assets/scriptRond.js"></script>

</html>
