<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon parcours</title>
    <link rel="stylesheet" href="../public/assets/style.css">
    <link rel="stylesheet" href="../public/assets/cv.css">
</head>
<body id="" class="">


<header>
    <div class="flex-row items-center div-h1" id="clickableDiv">
        <a href="../index.html#goto"><i class="fi fi-br-cross"></i></a>
        <h1>Mon Cv</h1>
    </div>
    
    <div class="liste-menu flex-row">
        <div class="overlay close-by-clic">
        </div>
        <ul class="flex-column items-center justify-center">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
            <li><a href="activiteetloisirs.html">Activité et loisirs</a></li>
            <img id="btn_fermeture" src="../image/fermer.png" alt="btn_fermeture">
        </ul>
    </div>

    <div class="btn-contact-me">
        <li class="fond-contact flex-row items-center justify-center"><a href="mecontacter.html"><img class="img-contact" src="../image/img-contact.png" alt="me contacter"></a></li>
    </div>

    
</header>

<main>
  <div>
    <h1>Paul Comte</h1>
    <p>Étudiant BUT Informatique</p>
  </div>

  <div class="div1">
    <h2>Contact</h2>
    <ul>
      <li>📞 08 72 56 24 83</li>
      <li>📧 paulcomte987@gmail.com</li>
      <li>📍 27 chemin de Boulain, 38210 Tullins</li>
    </ul>
</div>

  <div class="div2">
    <h2>Langues</h2>
    <p>Anglais – Niveau B1</p>
  </div>

  <div class="div3">
    <h2>Compétences</h2>
    <ul>
      <li>Développement informatique (HTML, CSS, Java)</li>
      <li>Gestion de projet</li>
      <li>Travail en équipe</li>
      <li>Gestion du stress et des imprévus</li>
      <li>Créativité et capacité d’adaptation</li>
      <li>Sens des responsabilités</li>
    </ul>
</div>

  <div class="div4">
    <h2>Formation</h2>
    <ul>
      <li><strong>BUT Informatique</strong> – IUT 2 Grenoble (2024 – 2027)</li>
      <li><strong>Bac STI2D (Mention Bien)</strong><br>Option sciences de l’informatique et du numérique, anglais renforcé – Lycée Ferdinand Buisson, Voiron (2023 – 2024)</li>
      <li><strong>BAFA</strong> – Activité physique et animation sportive – UFCV (2023 – 2024)</li>
    </ul>
  </div>

  <div class="div5"> 
    <h2>Expérience professionnelle</h2>
    <p><strong>Animateur BAFA</strong> – MJC Tullins (3 semaines, 2023 – 2024)</p>
    <ul>
      <li>Encadrement d’enfants de 3 à 17 ans</li>
      <li>Création et animation d’activités</li>
      <li>Travail en équipe</li>
    </ul>
</div>

  <div class="div6">
    <h2>Centres d’intérêt</h2>
    <ul>
      <li>Athlétisme en compétition – spécialité 400m</li>
      <li>Lecture</li>
    </ul>
</div>

</main>
<div class="div7 flex-row justify-center">
  <a class="flex-row items-center justify-center" href="https://drive.google.com/uc?export=download&id=1vYvT6P0PYbSlUhQj-BqHlDrvFeTY1oYd" download>Télécharger le cv</a>
</div>


    







    <footer class="flex-row justify-center">
        <ul class="flex-column">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
            <li><a href="activiteetloisirs.html">Activité et loisirs</a></li>
        </ul>
        <ul>
            <li class="flex-row items-center"><p>Uicons by &nbsp;</p><a href="https://www.flaticon.com/uicons">Flaticon</a></li>
            <li><a href="mentionslegales.html">Mentions légales</a></li>
        </ul>
    </footer>
    
    <script type="text/javascript" src="../public/assets/script2.js"></script>
</body>
</html>