<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me contacter</title>
    <link rel="stylesheet" href="../public/assets/style.css">
    <!-- <link rel="stylesheet" href="assets/index.css"> -->
</head>
<body id="accueil" class="">

    <div class="btn-burger">
        <button class="fond-burger flex-row items-center justify-center"><img class="img-hamburger" src="../image/menu-burger.png" alt="menu burger"></button>
    </div>


    <div>
        <ul class="liste-menu flex-column items-center justify-center">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mescompetences.html">Mes compétences</a></li>
            <li><a href="mesprojets.html">Mes projets</a></li>
            <li><a href="activitesetloisirs.html">Autres activités et loisirs</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
        </ul>
    </div>

    <div class="divoverlay"></div>

    <footer class="flex-row justify-center">
        <ul class="flex-column">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mescompetences.html">Mes compétences</a></li>
            <li><a href="mesprojets.html">Mes projets</a></li>
            <li><a href="activitesetloisirs.html">Autres activités et loisirs</a></li>
        </ul>
        <ul>
            <li class="flex-row"><p>Uicons by &nbsp;</p><a href="https://www.flaticon.com/uicons">Flaticon</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
            <li><a href="mentionslegales.html">Mentions légales</a></li>
        </ul>
    </footer>
    
    <script type="text/javascript" src="../public/assets/script.js"></script>
</body>
</html>