<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me contacter</title>
    <link rel="stylesheet" href="../public/assets/style.css">
    <link rel="stylesheet" href="../public/assets/mescompetences.css">
</head>
<body id="accueil" class="">

    <div class="btn-burger">
        <button class="fond-burger flex-row items-center justify-center"><img class="img-hamburger" src="../image/menu-burger.png" alt="menu burger"></button>
    </div>

    <div class="btn-contact-me">
        <li class="fond-contact flex-row items-center justify-center"><a href="mecontacter.html"><img class="img-contact" src="../image/img-contact.png" alt="me contacter"></a></li>
    </div>
    <div>
        <ul class="liste-menu flex-column items-center justify-center">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mescompetences.html">Mes compétences</a></li>
            <li><a href="mesprojets.html">Mes projets</a></li>
            <li><a href="activitesetloisirs.html">Autres activités et loisirs</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
        </ul>
    </div>
    <div class="divoverlay"></div>

    <div class="flex-row items-center div-h1 close-by-clic">
        <a href="../index.html"><i class="fi fi-rr-home"></i></a>
        <h1 class="close-by-clic">Mon compétences</h1>
</div>

    <h2 class="close-by-clic">Front-end</h2>
    

    <div class="fond-description-languages flex-column close-by-clic">
        
        <div class="flex-column items-center carousel-fond">
            <div class="carousel">
                <button class="btn-carousel prev" ><i class="fi fi-rr-angle-left"></i></button>
                <button class="btn-carousel next" ><i class="fi fi-rr-angle-right"></i></button>
                <ul>
                    <li class="slide slide-active"><img src="../image/html5.png" alt="html"></li>
                    <li class="slide"><img src="../image/css3.png" alt="css"></li>
                    <li class="slide"><img src="../image/javascript.png" alt="javascript"></li>
                </ul>
            </div>
        </div>
        <ul class="flex-column description-languages">
            <li>
                <p>HTML :<br> Langage utilisé pour structurer le contenu d'une page web (titres, paragraphes, images, liens, etc.).</p>
            </li>
            <li>
                <P>CSS :<br> Langage de style utilisé pour définir l'apparence d'une page web (couleurs, polices, mises en page, etc.).</P>
            </li>
            <li>
                <p>JavaScript :<br> Langage de programmation utilisé pour rendre une page web interactive et dynamique (animations, formulaires, manipulations d'éléments, etc.).</p>
            </li>
        </ul>
    </div>

    <h2 class="close-by-clic">Back-end</h2>
    <div class="fond-description-languages flex-column close-by-clic">
        
        <div class="flex-column items-center carousel-fond">
            <div class="carousel2">
                <button class="btn-carousel2 prev2" ><i class="fi fi-rr-angle-left"></i></button>
                <button class="btn-carousel2 next2" ><i class="fi fi-rr-angle-right"></i></button>
                <ul>
                    <li class="slide2 slide2-active"><img src="../image/php.png" alt="php"></li>
                    <li class="slide2"><img src="../image/c.png" alt="c"></li>
                    <li class="slide2"><img src="../image/cplus.png" alt="c++"></li>
                    <li class="slide2"><img src="../image/java.png" alt="java"></li>
                </ul>
            </div>

        </div>
        <ul class="flex-column description-languages">
            <li>
                <p>PHP :<br> Langage de script serveur utilisé pour le développement web dynamique.</p>
            </li>
            <li>
                <P>C :<br>  Langage de programmation bas niveau, rapide et efficace, souvent utilisé pour les systèmes et l’embarqué.</P>
            </li>
            <li>
                <p>C++ :<br> Extension de C avec la programmation orientée objet, utilisé pour les applications complexes et performantes.</p>
            </li>
            <li>
                <p>Java :<br>Langage orienté objet, portable et sécurisé, couramment utilisé pour les applications d’entreprise et mobiles. </p>
            </li>
        </ul>
    </div>


    <footer class="flex-row justify-center">
        <ul class="flex-column">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mescompetences.html">Mes compétences</a></li>
            <li><a href="mesprojets.html">Mes projets</a></li>
            <li><a href="activitesetloisirs.html">Autres activités et loisirs</a></li>
        </ul>
        <ul>
            <li class="flex-row"><p>Uicons by &nbsp;</p><a href="https://www.flaticon.com/uicons">Flaticon</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
            <li><a href="mentionslegales.html"></a></li>
        </ul>
    </footer>
    
    <script type="text/javascript" src="../public/assets/script.js"></script>
</body>
</html>