<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me contacter</title>
    <link rel="stylesheet" href="../public/assets/style.css">
    <link rel="stylesheet" href="../public/assets/mesprojets.css">
</head>
<body id="accueil" class="">

    <div class="btn-burger">
        <button class="fond-burger flex-row items-center justify-center"><img class="img-hamburger" src="../image/menu-burger.png" alt="menu burger"></button>
    </div>

    <div class="btn-contact-me">
        <li class="fond-contact flex-row items-center justify-center"><a href="mecontacter.html"><img class="img-contact" src="../image/img-contact.png" alt="me contacter"></a></li>
    </div>


    <div>
        <ul class="liste-menu flex-column items-center justify-center">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mescompetences.html">Mes compétences</a></li>
            <li><a href="mesprojets.html">Mes projets</a></li>
            <li><a href="activitesetloisirs.html">Autres activités et loisirs</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
        </ul>
    </div>

    <div class="divoverlay"></div>
    <div class="details-projets details-not-active close-by-clic">
        <i class="fi fi-br-cross close-btn-details-projets"></i>
        <div>
            <h4>TEST</h4>        
            <p>j'ai fais du java</p>
        </div>
    </div>
    <div class="details-projets details-not-active close-by-clic">
        <i class="fi fi-br-cross close-btn-details-projets"></i>
        <div>
            <h4>TEST</h4>
            <p>j'ai fais du sql</p>
        </div>
    </div>
    <div class="details-projets details-not-active close-by-clic">
        <i class="fi fi-br-cross close-btn-details-projets"></i>
        <div>
            <h4>TEST</h4>
            <p>j'ai fais le site d'atos pour les enfants</p>
        </div>
    </div>
    <div class="details-projets details-not-active close-by-clic">
        <i class="fi fi-br-cross close-btn-details-projets"></i>
        <div>
            <h4>TEST</h4>
            <p>j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br>
                j'ai fais un faux site de restaurant<br></p>
        </div>
            
    </div>
    <div class="details-projets details-not-active close-by-clic">
        <i class="fi fi-br-cross close-btn-details-projets"></i>
        <div>
            <h4>TEST</h4>
            <p>j'ai fais un site de shopping pour le fun</p>
        </div>
    </div>
    <div class="details-projets details-not-active close-by-clic">
        <i class="fi fi-br-cross close-btn-details-projets"></i>
        <div>
            <h4>TEST</h4>
            <p>j'ai fais le portoflio actuel</p>
        </div>
    </div>


    <h1 class="close-by-clic">Mes projets</h1>

    <h2 class="close-by-clic">Projets académiques</h2>
    <div class="flex-row items-center div-projets close-by-clic">
        <div class="div-projets-img">
            <img src="../image/projet_img.jpg" alt="projet_java">
            <h3>Java</h3>
        </div>
        <div class="div-projets-img">
            <img src="../image/projet_img.jpg" alt="projet_sql">
            <h3>Base de donnée</h3>
        </div>
        <div class="div-projets-img">
            <img src="../image/projet_img.jpg" alt="projet_siteAtos">
            <h3>Site Atos</h3>        </div>

    </div>
    <h2 class="close-by-clic">Projets personnels</h2>
    <div class="flex-row items-center div-projets close-by-clic">
        <div class="div-projets-img">
            <img src="../image/projet_img.jpg" alt="projet_siteRestaurant">
            <h3>Site Restaurant</h3>
        </div>
        <div class="div-projets-img"> 
            <img src="../image/projet_img.jpg" alt="projet_siteShopping">
            <h3>Site shopping</h3>
        </div>
        <div class="div-projets-img">
            <img src="../image/projet_img.jpg" alt="projet_sitePortfolio">
            <h3>Portfolio</h3>
        </div>
    </div>

    <footer class="flex-row justify-center">
        <ul class="flex-column">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mescompetences.html">Mes compétences</a></li>
            <li><a href="mesprojets.html">Mes projets</a></li>
            <li><a href="activitesetloisirs.html">Autres activités et loisirs</a></li>
        </ul>
        <ul>
            <li class="flex-row"><p>Uicons by &nbsp;</p><a href="https://www.flaticon.com/uicons">Flaticon</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
            <li><a href="mentionslegales.html"></a></li>
        </ul>
    </footer>
    
    <script type="text/javascript" src="../public/assets/script.js"></script>
</body>
</html>