<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon parcours</title>
    <link rel="stylesheet" href="../public/assets/style.css">
    <link rel="stylesheet" href="../public/assets/monparcours.css">
    <link rel="icon" href="../image/favicon.ico" type="image/x-icon">
</head>
<body id="accueil" class="">


<header> 
    <div class="flex-row items-center div-h1" id="clickAbleDiv">
            <a href="../index.html"><i class="fi fi-rr-home"></i></a>
            <h1>Mon parcours</h1>
            <div class="btn-burger">
                <button class="fond-burger flex-row items-center justify-center"><img class="img-hamburger" src="../image/menu-burger.png" alt="menu burger"></button>
            </div>
    </div>
    <div class="liste-menu flex-row">
        <div class="overlay close-by-clic">
        </div>
        <ul class="flex-column items-center justify-center">
            <li><a href="../index.html">Accueil</a></li>
            <li><a class="active-link" href="monparcours.html">Mon parcours</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
            <li><a href="activiteetloisirs.html">Activité et loisirs</a></li>
            <img id="btn_fermeture" src="../image/fermer.png" alt="btn_fermeture">
        </ul>
    </div>


    <div class="btn-contact-me">
        <li class="fond-contact flex-row items-center justify-center"><a href="mecontacter.html"><img class="img-contact" src="../image/img-contact.png" alt="me contacter"></a></li>
    </div>

   
</header>

<div class="div_responsive">
    <main class="flex-column main-frise">

        <!-- <div class="trait-milieu"></div> -->
        <div class="flex-column div-frise">
            <div class="point-frise"></div>
            <div class="ph2">
                <h2>2021-2022</h2>
            <p>seconde générale au Lycée Pierre Beghin de Moirans</p>
            </div>
            
            <div class="trait-milieu"></div>
        </div>
    
        <div class="flex-column div-frise">
            <div class="point-frise"></div>
            <div class="ph2">
                <h2>2022-2023</h2>
                <p>Première STI2D au lycée Ferdinand Buisson de Voiron</p>
            </div>
            <div class="trait-milieu"></div>
        </div>
    
        <div class="flex-column div-frise">
            <div class="point-frise"></div>
            <div class="ph2">
                <h2>2023-2024</h2>
                <p>Terminale STI2D option SIN au lycée Ferdinand Buisson de Voiron</p>
            </div>
            <div class="trait-milieu"></div>
        </div>
    
        <div class="flex-column div-frise">
            <div class="point-frise"></div>
            <div class="ph2">
                <h2>2024-2025</h2>
                <p>BUT informatique première année a Grenoble</p>   
            </div>
            <div class="trait-milieu"></div>
        </div>
    
        <div class="flex-column div-frise">
            <div class="point-frise"></div>
            <div class="ph2">
                <h2>2025-2026</h2>
                <p>BUT informatique deuxième année a Grenoble - Parcours A</p>
            </div>
            <div class="trait-milieu"></div>
        </div>
    </main>
    <div class="parcours-div-p">
        <p class="parcours-informatique">
            <strong>Mon Parcours vers l’Informatique</strong><br><br>

            <em>🧭 Premiers pas au lycée :</em><br>
            J’ai commencé à m’orienter vers l’informatique lors de mon passage au <strong>lycée Ferdinand Buisson de Voiron</strong>, en intégrant une filière technologique.<br>
            - Filière choisie : <strong>STI2D</strong> (Sciences et Technologies de l'Industrie et du Développement Durable)<br>
            - Option spécifique : <strong>Sciences de l’Informatique et du Numérique</strong><br>
            C’est à ce moment-là que j’ai :<br>
            • Découvert la <strong>programmation</strong><br>
            • Développé un intérêt pour le <strong>développement web</strong><br><br>

            <em>🎓 Poursuite d’études en informatique :</em><br>
            Pour approfondir cette voie, j’ai poursuivi en <strong>BUT Informatique à Grenoble</strong>.<br>
            - Objectif : continuer à progresser dans le domaine de l’informatique<br>
            - Parcours choisi : <strong>spécialisé en programmation</strong><br><br>

            👉 Grâce à ces choix, j’ai pu poser des bases solides en développement et renforcer mes compétences techniques progressivement.
        </p>
    </div>
</div>






    <footer class="flex-row justify-center">
        <ul class="flex-column">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
            <li><a href="activiteetloisirs.html">Activité et loisirs</a></li>
        </ul>
        <ul>
            <li class="flex-row items-center"><p>Uicons by &nbsp;</p><a href="https://www.flaticon.com/uicons">Flaticon</a></li>
            <li><a href="mentionslegales.html">Mentions légales</a></li>
        </ul>
    </footer>
    
    <script type="text/javascript" src="../public/assets/script.js"></script>
</body>
</html>