<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me contacter</title>
    <link rel="stylesheet" href="../public/assets/style.css">
    <link rel="stylesheet" href="../public/assets/monparcours.css">
</head>
<body id="accueil" class="">

    <div class="btn-burger">
        <button class="fond-burger flex-row items-center justify-center"><img class="img-hamburger" src="../image/menu-burger.png" alt="menu burger"></button>
    </div>

    <div>
        <ul class="liste-menu flex-column items-center justify-center">
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
        </ul>
    </div>

    <div class="divoverlay"></div>
    <div class="btn-contact-me">
        <li class="fond-contact flex-row items-center justify-center"><a href="mecontacter.html"><img class="img-contact" src="../image/img-contact.png" alt="me contacter"></a></li>
    </div>

    <div class="flex-row items-center div-h1 close-by-clic">
            <a href="../index.html"><i class="fi fi-rr-home"></i></a>
            <h1 class="close-by-clic">Mon parcours</h1>
    </div>


    <main class="close-by-clic flex-column main-frise">

        <div class="trait-milieu"></div>
        <div class="flex-column div-frise">
            <div class="point-frise"></div>
            <h2>2021-2022</h2>
            <p>seconde générale au Lycée Pierre Beghin de Moirans</p>
        </div>
    
        <div class="flex-column div-frise">
            <div class="point-frise"></div>
            <h2>2022-2023</h2>
            <p>Première STI2D au lycée Ferdinand Buisson de Voiron</p>
        </div>
    
        <div class="flex-column div-frise">
            <div class="point-frise"></div>
            <h2>2023-2024</h2>
            <p>Terminale STI2D option SIN au lycée Ferdinand Buisson de Voiron</p>
        </div>
    
        <div class="flex-column div-frise">
            <div class="point-frise"></div>
            <h2>2024-2025</h2>
            <p>BUT informatique première année a Grenoble</p>
        </div>
    
        <div class="flex-column div-frise">
            <div class="point-frise"></div>
            <h2>2025-2026</h2>
            <p>BUT informatique deuxième année a Grenoble - Parcours A</p>
        </div>
    </main>
    <div class="parcours-div-p close-by-clic">
        <details>
            <summary>Plus de détails</summary>
            <p>
                J'ai commencé à m'orienter vers l'informatique en allant en filière technologique au lycée Ferdinand Buisson de Voiron. En effet, j'ai fais le choix d'aller en STI2D et de prendre l'option science de l'informatique et du numérique. C'est là que j'ai commencé à toucher à la programmation et à prendre goût au développement web. 
                Je me suis ensuite orienté en BUT informatique à Grenoble pour continuer sur cette voie. J'ai fais le choix de prendre un parcours destiné à développer ses compétences en programmation.         
            </p>
        </details>
    </div>





    <footer class="flex-row justify-center">
        <ul class="flex-column">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="monparcours.html">Mon parcours</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
        </ul>
        <ul>
            <li class="flex-row items-center"><p>Uicons by &nbsp;</p><a href="https://www.flaticon.com/uicons">Flaticon</a></li>
            <li><a href="mecontacter.html">Me contacter</a></li>
            <li><a href="mentionslegales.html">Mentions légales</a></li>
        </ul>
    </footer>
    
    <script type="text/javascript" src="../public/assets/script.js"></script>
</body>
</html>