<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Project</title>
    <link rel="stylesheet" href="../public/assets/style.css">
    <link rel="stylesheet" href="../public/assets/atos.css">
    <link rel="icon" href="../image/favicon.ico" type="image/x-icon">
</head>
<body id="" class="">

<header>
    <div class="flex-row items-center div-h1" id="clickableDiv">
        <a href="../index.html#goto2"><i class="fi fi-br-cross"></i></a>
        <h1>Restaurant Project</h1>
    </div>
    <div class="liste-menu flex-row">
        <div class="overlay close-by-clic"></div>
        <ul class="flex-column items-center justify-center">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../index.html#projets">My Projects</a></li>
            <li><a href="monparcours.html">My Background</a></li>
            <li><a href="mecontacter.html">Contact Me</a></li>
            <li><a href="activiteetloisirs.html">Activities and Hobbies</a></li>
            <img id="btn_fermeture" src="../image/fermer.png" alt="btn_fermeture">
        </ul>
    </div>
</header>

<div class="btn-contact-me">
    <li class="fond-contact flex-row items-center justify-center">
        <a href="mecontacter.html"><img class="img-contact" src="../image/img-contact.png" alt="contact me"></a>
    </li>
</div>

<main>

<div class="presentation_projet">
    <h2 id="firsth2">RESTAURANT PROJECT</h2>
    <p>I had fun imagining a website for a Japanese restaurant. It's one of my first personal projects (still no responsive design...).</p>
</div>

<div>
    <h2>Objectives</h2>
    <form>
        <label><input type="checkbox" disabled>Create a page about the restaurant’s history</label>
        <label><input type="checkbox" disabled>Create a nice menu (restaurant menu)</label>
        <label><input type="checkbox" disabled>Learn to make tables for schedules and integrate Google Maps</label>
    </form>        
</div>

<h3 class="h3-margin-resp">Means used to achieve these objectives:</h3>

<div class="div_mmm">
    <div>
        <img src="../image/youtube.png" alt="teamwork image">
        <p>Used YouTube tutorials</p>
    </div>
    <div>
        <img src="../image/conceptualisation.png" alt="conceptualization image">
        <p>Mockup creation</p>
    </div>
</div>

<p id="le_p_le_l">To imagine what the site could look like, I used a sheet of paper and a pencil to sketch out the best way to present the site. I hadn’t yet learned how to use modeling software.</p>

<h2>And in the end?</h2>

<div>
    <p class="esp_bas">The main objectives were achieved:</p>
    <form>
        <label><input type="checkbox" disabled checked>Create a page about the restaurant’s history</label>
        <label><input type="checkbox" disabled checked>Create a nice menu (restaurant menu)</label>
        <label><input type="checkbox" disabled checked>Learn to make tables for schedules and integrate Google Maps</label>
    </form>     
    <p class="p_esp">Additionally, I learned how to:</p>   
    <form class="last_form">
        <label><input type="checkbox" disabled checked>Add effects to clickable buttons (navbar, social media)</label><br>
        <label><input type="checkbox" disabled checked>Logically manage element positioning</label>
    </form>    
</div>

<p class="p_esp">If you want to see more of this project, feel free to download it:</p>

<div class="div_btn">
    <li><a href="https://drive.google.com/uc?export=download&id=1xjYjfIIjw82SfgwbwS9ots4ZooODa9aU">Download</a></li>
</div>

</main>

<div class="div-img-du-projet">
    <img class="img-du-projet" src="../image/resto_.png" alt="project image 1">
    <img class="img-du-projet" src="../image/resto.png" alt="project image 2">
    <img class="img-du-projet" src="../image/resto3.png" alt="project image 3">
    <img class="img-du-projet" src="../image/resto4.png" alt="project image 4">
    <img class="img-du-projet" src="../image/resto.png" alt="project image 5">
</div> 

<footer class="flex-row justify-center">
    <ul class="flex-column">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../index.html#projets">My Projects</a></li>
        <li><a href="monparcours.html">My Background</a></li>
        <li><a href="mecontacter.html">Contact Me</a></li>
        <li><a href="activiteetloisirs.html">Activities and Hobbies</a></li>
    </ul>
    <ul>
        <li class="flex-row items-center"><p>Uicons by &nbsp;</p><a href="https://www.flaticon.com/uicons">Flaticon</a></li>
        <li><a href="mentionslegales.html">Legal Notice</a></li>
    </ul>
</footer>
</body>
<script type="text/javascript" src="../public/assets/script.js"></script>
<script type="text/javascript" src="../public/assets/cross.js"></script>
</html>
